<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/icon.jpg">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/Pic.jpg" alt="">
        <p>My Name is Harikrishnan. I am Work at Cognizant in the field of AWS and Node.</p>
    </div>
    {{>footer}}
</body>
</html>